* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(113, 48, 48);
    color: black;
    line-height: 1.6;
}

header {
    background-color: rgb(71, 2, 2);
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav {
    background-color:rgb(125, 61, 61);
    padding: 10px;
    text-align: center;
}


nav ul li a {
    color:white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

section {
    background-color: rgb(231, 229, 229);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

section h2 {
    color: rgba(137, 3, 3, 0.716);
    margin-bottom: 10px;
}

section p {
    margin-bottom: 10px;
}

section ul {
    margin-left: 20px;
}

section img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

footer {
    background-color: rgba(145, 20, 20, 0.768);
    color: white;
    padding: 10px 0;
    text-align: center;
    margin-top: 20px;
}
